<%- include('../header') %>
    <header>
        <span class="titulo">Articulos</span>
    </header>
    <main>
        <div class="form-container">
            <form action="">
                <label for="codigo">Codigo <span class="color-red">(*)</span>: </label>
                <input id="codigo" type="text" placeholder="Codigo" required>

                <label for="descripcion">Descripción <span class="color-red">(*)</span>: </label>
                <input id="descripcion" type="text" placeholder="Descripción" required>
                
                <label for="unidad_medida">Unidad de Medida <span class="color-red">(*)</span>: </label>
                <select id="unidad_medida" required><option value="">-</option></select>

                <button id="btn_guardar">Guardar</button>
            </form>
        </div>
    </main>
<script>document.getElementById("btn-articulos").classList.add("selected");</script>
<script>const id = parseInt("<%= id %>");</script>
<script type="module" src="/js/articulos/nuevo-editar.js"></script>
<%- include('../footer') %>