<%- include('../header') %>
    <header>
        <span class="titulo">Tipos de documento</span>
    </header>
    <main>
        <div class="form-container">
            <form action="">
                <label for="nombre">Nombre: <span style="color: red;">(*)</span></label>
                <input id="nombre" type="text" placeholder="Nombre" required>

                <button id="btn_guardar">Guardar</button>
            </form>
        </div>
    </main>
<script>document.getElementById("btn-tipos-documento").classList.add("selected");</script>
<script>const id = parseInt("<%= id %>");</script>
<script type="module" src="/js/tipos-documento/nuevo-editar.js"></script>
<%- include('../footer') %>